@model IEnumerable<BugTracker.Models.TicketAndProjectModel>


<div class="col-md-3">
    @using (Html.BeginForm())
    {
        @Html.DropDownList("id", ((SelectList)ViewBag.ProjectName), "All", new { @class = "form-select" })
        <input type="submit" value="Choose this project" />
    }
</div>

