@model BugTracker.Models.ProjectModel

@{
    ViewData["Title"] = "AddProject";
}

<div class="pt-4">
    <h3>Add new project</h3>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProject">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group pt-3">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>

            <div class="form-group pt-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group pt-3 pb-3">
                <div class="position-relative pt-3 pb-3">
                    <div class="position-absolute top-0 start-0">
                        <a class="btn btn-secondary" asp-controller="Projects" asp-action="ViewProjects">Cancel</a>
                    </div>
                    <div class="position-absolute top-0 end-0">
                        <input type="submit" value="Create new project" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

