@model BugTracker.Models.TicketModel

@{
    ViewData["Title"] = "Add new ticket";
}

<div class="pt-4">
    <h3>Add new ticket</h3>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBug">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group pt-3">
                <label asp-for="BugName" class="control-label"></label>
                <input asp-for="BugName" class="form-control" />
                <span asp-validation-for="BugName" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Reporter" class="control-label"></label>
                <input asp-for="Reporter" class="form-control" />
                <span asp-validation-for="Reporter" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" type="text" value="@DateTime.Now.ToString("g")" readonly>
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" type="date" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-select">
                    <option selected value="">-</option>
                    <option value="Open">Open</option>
                    <option value="In progress">In progress</option>
                    <option value="To do">To do</option>
                    <option value="To be tested">To be tested</option>
                    <option value="Closed">Closed</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Severity" class="control-label"></label>
                <select asp-for="Severity" class="form-select">
                    <option selected value="">-</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>

            <div class="form-group pt-3 pb-3">
                <div class="position-relative pt-3 pb-3">
                    <div class="position-absolute top-0 start-0">
                        <a class="btn btn-secondary" asp-action="ViewTickets">Cancel</a>
                    </div>
                    <div class="position-absolute top-0 end-0">
                        <input type="submit" value="Create new ticket" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
