@{
    ViewData["Title"] = "Dashboard";
}


<div class="row pt-4 justify-content-between">
    <div class="d-flex bd-highlight">

        <div class="flex-grow-1 bd-highlight">
            <h3>Dashboard</h3>
        </div>

    </div>
</div>


