@{
    ViewData["Title"] = "Dashboard";
}


<div class="row pt-4 justify-content-between">
    <div class="d-flex bd-highlight">

        <div class="flex-grow-1 bd-highlight">
            <h3>Dashboard</h3>
        </div>

    </div>
</div>

<hr />

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Bug Tracker
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Project manager: <cite title="Source Title">Tomasz Majek</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Sorting algorithms in Angular
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Project manager: <cite title="Source Title">Bartosz Jankowski</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>