@{
    ViewData["Title"] = "Index";
}


<div class="row pt-4 justify-content-between">
    <div class="d-flex bd-highlight">

        <div class="flex-grow-1 bd-highlight">
            <h3>Welcome!</h3>
        </div>

    </div>
</div>

<hr/>

<div class="row">
    <div class="col">
        BugTracker is software created by Tomasz Majek for quick error reporting. As free and open source software, BugTracker can and is used in many projects, both open and commercial.
        <ul>
            <li>Gathers information about all errors and problems with the software in one place.</li>
            <li>Enables the management of the process of solving them.</li>
            <li>Stores historical information about the course of the repair process.</li>
            <li>Manages the division of labor and responsibility in the project team.</li>
        </ul>
        <br/>
        <h5>Creator hopes your experience will be terrific <i class='bx bx-bug'></i></h5>
    </div>
</div>
