<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/sidebar-custom.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/custom-css.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/footer-custom.css">
    <link rel="stylesheet" href="~/lib/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="~/lib/boxicons/css/boxicons.min.css">
</head>

<body id="body-pd">

    @* HEADER *@
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
    </header>


    @* SIDEBAR *@
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo"> <i class='bx bx-bug nav_logo-icon'></i> <span class="nav_logo-name">Bug Tracker</span> </a>
                <div class="nav_list"> 
                    <a href="#" class="nav_link active">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Users</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-message-square-detail nav_icon'></i>
                        <span class="nav_name">Messages</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-folder nav_icon'></i>
                        <span class="nav_name">Files</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                        <span class="nav_name">Stats</span>
                    </a>
                </div>
            </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>


    @* MAIN PAGE *@
    <div class="container-fluid">
        @RenderBody()
    </div>



    @* FOOTER *@
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <ul class="list-inline">
            <li class="list-inline-item"><span class="text-muted">&copy; 2021 Tomasz Majek</span></li>
        </ul>

        <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            <li class="list-inline-item"><a href="#" class="nav-link px-2 text-muted">Support</a></li>
            <li class="list-inline-item"><a href="#" class="nav-link px-2 text-muted">Contact Me</a></li>
        </ul>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/sidebar-custom.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
